{% extends 'main.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
{% include 'header.html' %}

    <main class="container pt-5">
        <div class="pb-2 mb-3">
            <div class="container" style="width: 500px !important;">
                <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">Sign-in to Yumusuk Journals</h5>
                </div>
                <div class="card bg-light">
                <form class="text-start px-5 pt-4 pb-5" action="" method="post">
                    {% csrf_token %}
                    <div class="container">
                        {% if messages %}
                        <div class="messages text-center text-success pb-2">
                            {% for message in messages %}
                            <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</span>
                            {% endfor %}
                        </div> 
                        {% endif %}              
                        {{ form|crispy }}  
                        <div class="text-center mb-4 mt-3">
                            <button type="submit" class="btn btn-success me-4">Submit</button>
                            <button type="reset" class="btn btn-outline-success">Clear</button>
                        </div>
                        <div class="text center d-flex justify-content-center mb-2">
                            <span>Dont have an account? <a href="{% url 'Register' %}" class="text-decoration-none">Register</a></span>
                        </div>
                        <div class="text-center">
                            <p class="fs-6"><a href="{% url 'password_reset' %}">Forget Password?</a></p>
                        </div>
                    </div>  
                </form>
                </div>
            </div>
        </div>    
    </main>

    {% include 'footer.html' %}    

    {% endblock %}