{% extends 'main.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}

    <main class="container pt-5">
        <div class="pb-2 mb-3">
            <div class="container" style="width: 600px !important;">
                <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">Change Password</h5>
                </div>
                <div class="card bg-light">
                    <div class="container p-5">
                        <form method="POST">
                            {% csrf_token %}
                                {{ form.as_p }}
                            <div class="text-center pt-2">
                                <!-- <a href="{% url 'Home' %}" class="text-success me-4 fs-6">Back</a> -->
                                <button class="btn btn-success" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </main>

    {% include 'footer.html' %}    

    {% endblock %}