{% extends 'main.html' %}

{% load static %}

{% block content %}

    <main class="container pt-5">
        <div class="pb-2 mb-3">
            <div class="container" style="width: 600px !important;">
                <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">Reset Password</h5>
                </div>
                <div class="card bg-light">
                    <div class="container px-5 pb-5 text-center">
                        <p class="pt-4 fs-6">Your password has been set. You may go ahead and Sign in now.</p>                 
                        <a href="{% url 'Login' %}" class="btn btn-success">Sign in</a>
                    </div>
                </div>
            </div>
        </div>    
    </main>

    {% endblock %}