{% extends 'main.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}

    <main class="container pt-5">
        <div class="pb-2 mb-3">
            <div class="container" style="width: 600px !important;">
                <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">Reset Password</h5>
                </div>
                <div class="card bg-light">
                    <div class="container px-5 pb-5 text-center">
                        <p class="pt-4 fs-6">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                        <form method="POST">
                            {% csrf_token %}
                                {{ password_reset_form.as_p }}                    
                            <button class="btn btn-success" type="submit">Send email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </main>

    {% include 'footer.html' %}    

    {% endblock %}