{% extends 'main.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    
    {% include 'header.html' %}

    <main class="container pt-5">
        <div class="pb-2 mb-3">
            <div class="container-fluid">
                {% if messages %}
                <div class="messages text-center text-success pb-2">
                    {% for message in messages %}
                    <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</span>
                    {% endfor %}
                </div> 
                {% endif %}
                <div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <p><strong>This is some placeholder content the Home tab's associated content.</strong> Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <p><strong>This is some placeholder content the Profile tab's associated content.</strong> Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <p><strong>This is some placeholder content the Contact tab's associated content.</strong> Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
                    </div>
                  </div>
                </div>          
                <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">Register here...</h5>
                </div>

                <div class="card bg-light">
                </div>
            </div>
        </div>    
    </main>

    {% include 'footer.html' %}    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
{% endblock %}