{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="description" content="">
    <meta name="keyword" content="">
    <title>Registration Portal</title>
    
    <link rel="shortcut icon" href="{% static 'assets/brand/logo.jpg' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

  <style>
    body {
  padding-top: 4.5rem !important;
    }
  </style>
  <body>
    {% include 'header.html' %}    

    {% block content %}
    
    {% endblock %}
    {% include 'footer.html' %}    
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/program_reg_script.js' %}"></script>
    
  </body>
</html>
