{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="description" content="">
    <meta name="keyword" content="">
    <title>Yumsuk Journals</title>
    
    <link rel="shortcut icon" href="{% static 'assets/brand/logo.jpg' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

  <style>
    body {
  padding-top: 4.5rem !important;
    }
  </style>
{% block content %}
    
    {% endblock %}
    <script type="text/javascript">
      var st_o = "{{personal.state_of_origin.value}}";
      var st = "{{personal.state.value}}";
      var lg = "{{personal.lga.value}}";
      var post_type = "{{personal.post_type.value}}";
      var file_photo_passport = document.getElementById("id_file_photo_passport");
      var file_identification = document.getElementById("id_file_identification");
      var file_first_certificate = document.getElementById("id_file_first_certificate");
      var file_first_testimonial = document.getElementById("id_file_first_testimonial");
      var file_second_certificate = document.getElementById("id_file_second_certificate");
      var file_second_testimonial = document.getElementById("id_file_second_testimonial");
      var file_awaiting_exam_slip = document.getElementById("id_file_awaiting_exam_slip");
      var file_scratch_card = document.getElementById("id_file_scratch_card");
      var file1 = "{{requirement.file_photo_passport.value}}";
      var file2 = "{{requirement.file_identification.value}}";
      var file3 = "{{requirement.file_first_certificate.value}}";
      var file4 = "{{requirement.file_first_testimonial.value}}";
      var file5 = "{{requirement.file_second_certificate.value}}";
      var file6 = "{{requirement.file_second_testimonial.value}}";
      var file7 = "{{requirement.file_awaiting_exam_slip.value}}";
      var file8 = "{{requirement.file_scratch_card.value}}"; 
    </script>    
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/program_reg_script.js' %}"></script>  
    <script>
    </script>   
  </body>
</html>
